[submodule "backend"]
	path = backend
	url = git@github.com:gntzh/fastapi-tmpl.git
[submodule "frontend"]
	path = frontend
	url = git@github.com:gntzh/vue-admin-tmpl.git
[submodule "tasks"]
	path = tasks
	url = git@github.com:gntzh/my-tasks-backend.git
